@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
}

.first {
    display: flex;
    flex-direction: column;
    background-color: #46576e;
    padding-bottom: 30px;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding-bottom: 10px;
}

.pet {
    color: rgb(73, 34, 34);
    font-size: 65px;
    margin-bottom: -30px;
}

.left div {
    color: white;
    font-size: 20px;
}

.health {
    color: red;
}

.header {
    display: flex;
    background-color: rgb(83, 81, 81);
    padding: 0 15px;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.hero {
    width: 500px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

p {
    font-size: 18px;
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;
}

.description img {
    width: auto;
    height: 170px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
    border-radius: 8px;
    padding: 8px;
    width: 130px;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://images.pexels.com/photos/14397557/pexels-photo-14397557.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 25px;
}

h2 {
    font-size: 30px;
    color: rgb(144, 231, 144);
}
.pictures {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.pictures img{
    width: auto;
    height: 150px;
}

.animal {
    width: 250px;
}

.animal div {
    color: white;
}
